<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="uk.co.immediate.mobile.visordown">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:debuggable="false" android:hardwareAccelerated="true" android:icon="@drawable/vd_homeicon" android:label="@string/app_name" android:name=".RSSReaderApplication">
        <activity android:label="@string/app_name" android:name=".SplashScreenActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HomePageActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Sherlock"/>
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Sherlock"/>
        <activity android:name=".ArticleViewActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Sherlock"/>
    </application>
</manifest>
